@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000; }

html {
  height: 90%; }

a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  a:hover {
    outline: none;
    text-decoration: none;
    color: #dab074; }
  a:focus {
    outline: none;
    outline-offset: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  color: #686868; }

h2 {
  color: #686868;
  font-size: 24px; }

h3 {
  font-size: 18px; }

.overflow {
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 25px; }

#action .col-sm-5 {
  /*position:absolute*/
  top: 0;
  height: 100%;
  right: 0; }

.btn-common:hover, .btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #d29948; }

.align-right {
  text-align: right; }

.inline {
  display: inline-block; }

.padding {
  padding: 65px 0; }

.padding-bottom {
  padding-bottom: 65px; }

.padding-top {
  padding-top: 90px; }

.padding-right {
  padding-right: 80px; }

.padding-left {
  padding-left: 80px; }

.margin-bottom {
  margin-bottom: 35px; }

/*************************
*******Header******
**************************/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .navbar #header .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0; }
  #header .navbar-inverse .container {
    position: relative; }

.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }
  .social-icons ul li a {
    font-size: 18px;
    color: #d3d3d3;
    padding: 0; }
    .social-icons ul li a:hover, .social-icons ul li a:focus {
      color: #dbb075;
      background: none; }

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0; }
#header .navbar-toggle {
  margin-top: 20px; }
#header .navbar-brand {
  padding: 0;
  margin-left: 0; }
  #header .navbar-brand h1, #header .navbar-brand h2 {
    padding: 0;
    margin: 0; }
#header .navbar-nav.navbar-right > li a  {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300; }
#header .navbar-nav.navbar-right > li:last-child {
  margin-right: 20px; }
#header .navbar-inverse .navbar-nav li a:hover {
  color: #d29948; }
#header .navbar-inverse .navbar-nav li.active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }
  #header .navbar-inverse .navbar-nav li.active > a:focus {
    background-color: inherit;
    border: 0;
    color: #d29948; }
#header .navbar-nav li ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }
  #header .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize; }
  #header .navbar-nav li ul.sub-menu li:hover, #header .navbar-nav li ul.sub-menu li:focus {
    background: #fef7ee;
    color: #d29948; }
  #header .navbar-nav li ul.sub-menu li .active {
    background: #fef7ee;
    color: #d29948;
    position: relative; }
    #header .navbar-nav li ul.sub-menu li .active i {
      position: absolute;
      font-size: 56px;
      top: -13px;
      color: #dab074; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
      left: -3px; }
    #header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
      right: -3px; }
#header .navbar-inverse .navbar-nav li.active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }
  #header .navbar-inverse .navbar-nav li.active > a:focus {
    background-color: inherit;
    border: 0;
    color: #d29948; }
#header .navbar-nav.navbar-right li > a:hover {
  background-color: inherit;
  border: 0;
  color: #d29948; }

.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }

#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative; }
  #home-slider .main-slider {
    position: relative;
    height: 450px; }
  #home-slider .slide-text {
    position: absolute;
    top: 50px;
    left: 0;
    width: 450px; }
  #home-slider h1 {
    margin-top: 70px;
    margin-bottom: 25px;
    color: #686868;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
  #home-slider .btn-common {
    margin-top: 20px; }
  #home-slider .slider-house {
    position: absolute;
    right: 0;
    bottom: 0; }
  #home-slider .slider-circle1 {
    position: absolute;
    right: 430px;
    bottom: 210px; }
  #home-slider .slider-circle2 {
    position: absolute;
    right: 420px;
    bottom: 245px; }
  #home-slider .slider-cloud1 {
    position: absolute;
    right: 290px;
    bottom: 250px; }
  #home-slider .slider-cloud2 {
    position: absolute;
    right: 375px;
    bottom: 330px; }
  #home-slider .slider-cloud3 {
    position: absolute;
    right: 75px;
    bottom: 300px; }
  #home-slider .slider-sun {
    position: absolute;
    right: 190px;
    bottom: 300px; }
  #home-slider .slider-cycle {
    position: absolute;
    right: 500px;
    bottom: 0; }

#services .padding {
  padding: 65px 0; }
#services .single-service {
  display: block; }
  #services .single-service img {
    height: 85px;
    margin-bottom: 35px; }
  #services .single-service .service-2 {
    width: 66px;
    margin-top: -31px;
    height: 115px; }
  #services .single-service h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    color: #686868; }
  #services .single-service p {
    padding: 0 48px; }

#action,
#page-breadcrumb {
  background-image: url(../images/home/tour-bg.png);
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 155px;
  background-position: center;
  display: table;
  position: static;
  width: 100%; }

.vertical-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: statice; }

.action h1 {
  margin-top: 45px; }
.action .btn-common {
  margin-top: 55px;
  float: left; }
.action p {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 300; }

.col-sm-5 {
  height: 100%; }
  .col-sm-5 .tour-button {
    background-image: url(../images/home/tour-icon2.png);
    height: 154px;
    background-repeat: no-repeat;
    width: 183%;
    left: 0;
    background-position: 151px 4px; }

#features .single-features {
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 40px; }
#features .single-one {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 65px; }

#clients {
  padding-bottom: 45px; }
  #clients .clients {
    margin-bottom: 45px; }
    #clients .clients img {
      display: inline-block; }

.form-control:hover, .form-control:focus {
  border-color: #d29948;
  outline: none;
  box-shadow: none; }

.form-control {
  border: 1px solid #d99c4e;
  font-weight: 300;
  outline: none;
  box-shadow: none;
  height: 40px; }

.btn-submit {
  width: 100%;
  background-color: #d89b4e;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 5px;
  border-bottom: 3px solid #a56617;
  box-shadow: none;
  padding: 10px; }

.testimonial .media .media-body blockquote {
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  border-left: 0;
  margin-bottom: 0; }
.testimonial .media .media-body blockquote:before {
  position: absolute;
  left: 5px;
  top: 8px;
  content: '"';
  font-size: 40px;
  color: #d99c4e;
  font-family: 'Noto Sans', sans-serif;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  line-height: 0; }
.testimonial .media .media-body blockquote:after {
  position: absolute;
  right: 30px;
  bottom: 14px;
  content: '"';
  font-size: 40px;
  color: #d99c4e;
  font-family: 'Noto Sans', sans-serif;
  line-height: 0; }

.bottom .media-body h3 a {
  color: #d99c4e; }

#footer {
  padding-bottom: 75px;
  background-image: url(../images/home/footer.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
