@media only screen and (min-width : 768px) {

  #header .navbar-nav li ul.sub-menu li a {
    padding-left: 20px;
  }

}


@media only screen and (max-width : 992px) {

  h1{
    font-size: 25px;
  }

  #header .navbar-nav.navbar-right li {
    padding: 0;
  }

  #header .navbar-nav.navbar-right >li a {
    padding: 20px 10px;
  }

  #home-slider {
    margin-top: 30px;
  }

  #home-slider .main-slider {
    height: 250px;
  }

  #home-slider .slide-text {
    top: 0;
    width: 50%;
  }

  #home-slider h1 {
    margin-top: 0;
  }

  #home-slider .slider-house {
    width: 350px;
  }

  #home-slider .slider-circle1 {
    right: 295px;
    bottom: 140px;
    width: 20px;
  }

  #home-slider .slider-circle2 {
    right: 290px;
    bottom: 160px;
    width: 11px;
  }

  #home-slider .slider-cloud1 {
    right: 190px;
    bottom: 160px;
    width: 60px;
  }

  #home-slider .slider-cloud2 {
    right: 260px;
    bottom: 190px;
    width: 70px;
  }

  #home-slider .slider-cloud3 {
    right: 75px;
    bottom: 180px;
    width: 70px;
  }

  #home-slider .slider-sun {
    right: 170px;
    bottom: 210px;
    width: 60px
  }

  #home-slider .slider-cycle {
    right: 350px;
    bottom: 0;
    width: 140px;
  }

  
@media only screen and (max-width : 768px) {

  h1{
    font-size: 22px;
  }

  h2{
    font-size:20px;
  }

  .padding{
    padding: 30px 0;
  }

  #header {
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .social-icons.pull-right{
    float: left !important;
  }

  #header .navbar-inverse .navbar-toggle,
  #header .navbar-inverse .navbar-toggle:focus {
    border-color: #dbb075;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
  }

  .navbar-header .navbar-toggle .icon-bar {
    background-color: #DBB075;
  }

  #header .navbar-inverse .navbar-toggle:hover {
    background: #dbb075;
  }

  #header .navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
  }
 
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-top: 0;
  }

  .navbar.navbar-inverse {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .social-icons ul li:first-child{
    padding-left: 0;
  }

  #header .navbar-nav.navbar-right li > a > i {
    display: inline-block;
    float: right;
    padding: 8px 10px 8px 30px
  }

  #header .navbar-nav.navbar-right li > a {
    padding: 10px 0;
  }

  #header .navbar-nav li ul.sub-menu li a {
    padding: 5px 10px;
  }

  #header .navbar-inverse .navbar-nav li.active > a, 
  #header .navbar-inverse .navbar-nav li.active > a:focus, 
  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }

  #home-slider {
    margin: 50px 20px;
  }

  #home-slider .main-slider {
    height: 500px;
  }

  #home-slider .slide-text {
    top: 0;
    width: 100%;
    text-align: center;
  }

  #home-slider .slider-cloud2 {
    width: 100px;
  }

  
  #action.responsive{
    height: 315px;
  }
  #action, 
#page-breadcrumb {
      background-image: url(../images/home/tour-bg.png);
    background-color: #fbfafa;
    width: 100%;
    height: 300px;
}
.action h1{
  margin-top: 45px;
}
.col-sm-5 {    
    height: 100%;
    
    }

.tour-button {
    background-image: url(../images/home/tour-icon2.png);
    height: 154px;
    background-repeat: no-repeat;
    width: 183%;
    left: 0;
    background-position: 151px 4px;
       }

  .action.take-tour{
    margin-top: 0px;
  }

  .action.take-tour .col-sm-7{
    width: 100%;
    text-align: center;
  }

  .action.take-tour .col-sm-5{
    width: 100%;
    margin-top: 22px;
    overflow: hidden;
  }

  .single-features {
    padding-bottom: 0;
    padding-top: 30px;
  }

  .single-features img {
    margin-bottom: 25px;
  }


  .single-features {
    text-align: center;
  }

  .single-features * {
    display: inline-block;
    text-align: center;
  }
}


@media only screen and (max-width : 480px) {


  #home-slider .slider-circle1 {
    right: 80%;
    bottom: 100px;
    width: 15px;
  }

  #home-slider .slider-circle2 {
    right: 78%;
    bottom: 120px;
    width: 10px;
  }

  #home-slider .slider-cloud1 {
    right: 140px;
    bottom: 140px;
    width: 60px;
  }

  #home-slider .slider-cloud2 {
    right: 210px;
    bottom: 190px;
    width: 70px;
  }

  #home-slider .slider-cloud3 {
    right: 35px;
    bottom: 180px;
    width: 70px;
  }

  #home-slider .slider-sun {
    right: 120px;
    bottom: 180px;
    width: 60px
  }

  #home-slider .slider-cycle {
    display: none;
  }
}
 